html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

* {
  padding: 0;
  margin: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  overflow-x: hidden;
  font-size: 1.6rem; }

a {
  text-decoration: none;
  color: #666666; }

.btn {
  border: 0;
  border-radius: 4px; }

li,
ol,
ul {
  list-style-type: none; }

input {
  border: 0;
  border-radius: 3px; }

.component {
  animation-name: a;
  animation-duration: .4s; }

@keyframes a {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  50% {
    opacity: .1;
    transform: translateY(10); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.header {
  padding: 1rem 3rem; }
  .header .list-items {
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: .1rem;
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-column-gap: 30px; }
    .header .list-items .list-item {
      flex-basis: 20%;
      border: 1.4px solid;
      display: inline;
      padding: .4rem .5rem;
      border-radius: 4px;
      text-align: center; }
      .header .list-items .list-item:first-child {
        border-color: rgba(218, 44, 49, 0.77); }
      .header .list-items .list-item:nth-child(2) {
        border-color: rgba(43, 163, 240, 0.83); }
