@keyframes wrapup {
  0% {
    transform: rotate(0) scale(0);
    opacity: 0;
  }

  10% {
    transform: rotate(10deg) scale(.3);
  }
  20% {
    transform: rotate(-10deg) scale(.5);

  }
  30% {
    transform: rotate(5deg) scale(.4);

  }
  40% {
    transform: rotate(-5deg) scale(.6);
  }
  50% {
    transform: rotate(3deg) scale(.5);
  }
  60% {
    transform: rotate(-3deg) scale(.7);
  }

  75% {
    opacity: .061;

  }

  90% {
    transform: rotate(0) scale(1.06);
    opacity: .7;
  }



  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}

@keyframes wrapup-not {
  0% {
    transform: rotate(0) scale(1);
    opacity: 1;
  }

  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);

  }
  75% {
    transform: rotate(5deg) scale(.5);

  }
  100% {
    transform: rotate(-5deg) scale(.55);
    opacity: .2;
  }
}

@keyframes heading {
  0%, 100% {
    -webkit-clip-path: polygon(39% 16%, 0 0, 12% 28%, 27% 0, 59% 0, 70% 0, 79% 5%, 59% 24%, 92% 0, 100% 0, 75% 74%, 96% 29%, 100% 53%, 86% 60%, 34% 100%, 100% 79%, 15% 62%, 96% 87%, 100% 100%, 84% 81%, 91% 100%, 82% 90%, 2% 70%, 63% 100%, 0 53%, 30% 88%, 0 77%, 35% 100%, 0 68%, 11% 52%, 12% 10%, 29% 70%, 0 44%, 18% 0);
    clip-path: polygon(39% 16%, 0 0, 12% 28%, 27% 0, 59% 0, 70% 0, 79% 5%, 59% 24%, 92% 0, 100% 0, 75% 74%, 96% 29%, 100% 53%, 86% 60%, 34% 100%, 100% 79%, 15% 62%, 96% 87%, 100% 100%, 84% 81%, 91% 100%, 82% 90%, 2% 70%, 63% 100%, 0 53%, 30% 88%, 0 77%, 35% 100%, 0 68%, 11% 52%, 12% 10%, 29% 70%, 0 44%, 18% 0);
  }

  50% {
    -webkit-clip-path: polygon(39% 16%, 0 0, 10% 53%, 27% 0, 59% 0, 94% 0, 100% 24%, 59% 24%, 100% 31%, 100% 0, 61% 100%, 96% 29%, 100% 53%, 45% 99%, 34% 100%, 100% 79%, 15% 62%, 96% 87%, 100% 100%, 84% 81%, 91% 100%, 82% 90%, 2% 70%, 63% 100%, 0 53%, 90% 100%, 0 77%, 35% 100%, 0 68%, 11% 52%, 12% 10%, 29% 70%, 0 12%, 0 65%);
    clip-path: polygon(39% 16%, 0 0, 10% 53%, 27% 0, 59% 0, 94% 0, 100% 24%, 59% 24%, 100% 31%, 100% 0, 61% 100%, 96% 29%, 100% 53%, 45% 99%, 34% 100%, 100% 79%, 15% 62%, 96% 87%, 100% 100%, 84% 81%, 91% 100%, 82% 90%, 2% 70%, 63% 100%, 0 53%, 90% 100%, 0 77%, 35% 100%, 0 68%, 11% 52%, 12% 10%, 29% 70%, 0 12%, 0 65%);
  }
}
