body {
  background-color: #090909;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  > * {
    flex: 1;
  }
  .wrapup {
    border-right: .21px solid rgba(#000, .8);
    > * {
      > *:not(:first-child) {
        animation-name: wrapup;
        animation-duration: .93s;
      }
    }
  }
}

.heading {
  animation-name: heading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  height: 11rem;
  width: 100%;
  background-image: linear-gradient(to right bottom, rgba(#ff0000, .67), rgba(72, 24, 161, .2), rgba(#000, .3), rgba(#070707, 1));
  -webkit-clip-path: polygon(39% 16%, 0 0, 12% 28%, 27% 0, 59% 0, 70% 0, 79% 5%, 59% 24%, 92% 0, 100% 0, 75% 74%, 96% 29%, 100% 53%, 86% 60%, 34% 100%, 100% 79%, 15% 62%, 96% 87%, 100% 100%, 84% 81%, 91% 100%, 82% 90%, 2% 70%, 63% 100%, 0 53%, 30% 88%, 0 77%, 35% 100%, 0 68%, 11% 52%, 12% 10%, 29% 70%, 0 44%, 18% 0);
  clip-path: polygon(39% 16%, 0 0, 12% 28%, 27% 0, 59% 0, 70% 0, 79% 5%, 59% 24%, 92% 0, 100% 0, 75% 74%, 96% 29%, 100% 53%, 86% 60%, 34% 100%, 100% 79%, 15% 62%, 96% 87%, 100% 100%, 84% 81%, 91% 100%, 82% 90%, 2% 70%, 63% 100%, 0 53%, 30% 88%, 0 77%, 35% 100%, 0 68%, 11% 52%, 12% 10%, 29% 70%, 0 44%, 18% 0);
  position: relative;
  &-main {
      font-size: 3rem;
      letter-spacing: 2px;

      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      background-image: linear-gradient(to right, rgb(109, 212, 125), rgb(141, 157, 200));
      -webkit-background-clip: text;
      color: transparent;
      transform: translate(-50%, -50%);
  }
}
