body {
  background-color: #222;
  color: #eeeeee;
}

.component {
  animation-name: component;
  animation-duration: .4s;
}

p > * {
  color: #ff0a02;
  font-weight: 200;
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-color: blue;
}
